<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<title>Система администрирования сайтов "WMKMV"</title>
	<link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="javascripts/jquery-1.6.1.js"></script>
	<script type="text/javascript" src="javascripts/interface.js"></script>
	
	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic' rel='stylesheet'>
	
	<!--[if IE]>
		<link href="stylesheets/ie.css" rel="stylesheet" type="text/css" />
	<![endif]-->

</head>

<body>
	<!-- // PAGE -->
	<div class="page">
	
	<!-- // CONTENT -->
	<div class="wrap">
		<div class="container">
			
			<!-- // HEADER -->
			<div class="header_container">
				<div class="header_inner">
				
				<div class="adm_button"><a href="#" >Изменить пароль</a> / <a href="#" >Выход</a></div>
				<div class="adm_icon">admin</div>
				
				
				<i>Версия 25.04</i>
				<a href="http://web-kmv.ru" class="logo">управление сайтом</a>
	
				</div>
				
			</div>
			<div class="clear"></div>
			<!-- HEADER // -->
			
			<div class="left_container">
			
			<!-- left menu -->
			<div class="content_menu">

				<a href="pages.php" class="menu_head ico1">Страницы</a>
				<div class="content_hover">
					<a href="#">Главная страница</a>
					<a href="#">Новости</a>
					<a href="#">Статьи</a>
					<a href="#">Галерея</a>
					<a href="#">Отзывы</a>
					<a href="#">Контакты</a>
				</div>
			
				<a href="#" class="menu_head ico2">Модули</a>
				<div class="content_hover">
					<a href="#">Название модуля</a>
					<a href="#">Новости</a>
					<a href="#">Статьи</a>
					<a href="#">Регистрация / Вход</a>
					<a href="#">Галерея</a>
					<a href="#">Отзывы</a>
					<a href="#">Контакты</a>
				</div>
				
				<a href="#" class="menu_head ico3">Пользователи</a>
				<div class="content_hover">
					<a href="#">Пользователь 1</a>
					<a href="#">Пользователь 2</a>
					<a href="#">Пользователь 3</a>
				</div>
				
				<a href="#" class="menu_head ico4">Настройки</a>
				<div class="content_hover">
					<a href="#">Options 1</a>
					<a href="#">Options 2</a>
					<a href="#">Options 3</a>
					<a href="#">Options 4</a>
				</div>
				
				<a href="#" class="menu_head ico5">Шаблоны</a>
				<div class="content_hover">
					<a href="#">Шаблон 1</a>
					<a href="#">Шаблон 2</a>
					<a href="#">Шаблон 3</a>
				</div>
				
			</div>
			
			<!-- help block -->
			<div class="helper">
				<h3>Справка</h3>
				<form name="" action="">
					<input class="search" type="text" name="" />
					<input class="search_button" type="submit" value=" " name="" title="найти" />
				</form>
				
				<p>¤  Создание интернет магазина является один из наиболее удачных и потенциально прибыльных способов ведения сетевого бизнеса.<br />  С помощью электронного минимаркета продавать товары можно непосредственно с веб-сайта.</p>	
			</div>
			<br />
			
			
			<!-- dop punkt -->
			<div class="content_hover" style="display:block;">
				<a href="#">Доп. пункт 1</a>
				<a href="#">Доп. пункт 2</a>
				<a href="#">Доп. пункт 3</a>
				<a href="#">Доп. пункт 4</a>
			</div>
			
			
			</div>
			
			<div class="main_content">
			<div class="hint">
				<p>место для вывода доп информации</p>	
			</div>
			
				<div class="path">Модули / Новости </div>
				<table class="modul_table">
					<thead>
					<tr>
						<th class="large">Название</th>
						<th class="min">Дата</th>
						<th class="middle">Ссылка на страницу</th>
						<th class="min">Опубликованно</th>
						<th class="min">Удалить</th>
					</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="">О фабрике</a></td>
							<td>5.05.2012</td>
							<td>home/about_us</td>
							<td><a class="add" href="#" >+</a></td>
							<td><a class="del" href="#" >-</a> </td>
						</tr>
						
						<tr>
							<td><a href="">История фабрики</a></td>
							<td>1.02.2012</td>
							<td>home/history</td>
							<td><a class="add" href="#" >+</a></td>
							<td><a class="del" href="#" >-</a> </td>
						</tr>
						
						<tr>
							<td><a href="">Производство</a></td>
							<td>2.02.2012</td>
							<td>home/work</td>
							<td><a class="add" href="#" >+</a></td>
							<td><a class="del" href="#" >-</a> </td>
						</tr>
						
						<tr>
							<td><a href="">Офис продаж в Москве</a></td>
							<td>23.01.2012</td>
							<td>home/office</td>
							<td><a class="add" href="#" >+</a></td>
							<td><a class="del" href="#" >-</a> </td>
						</tr>
						
					</tbody>
					
				</table>
					
			</div>

	</div></div>
	<!-- CONTENT // -->
		<br />
	</div>
	<!-- PAGE // -->
	
	<div class="clear"></div>
	<!-- // FOOTER -->
	<div class="footer"><div class="footer-inner">
		
		
		
		<div class="copyright">
			<div class="averin">© 2012 Сделано в дизайн студии <a href="#">"Веб-мастер КМВ"</a></div>
		</div>

		
			
	</div></div>
	<!-- FOOTER // -->
</body>
</html>
