<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    
    <!-- Block head \\ -->
    <div id="BlockHead">
      <div id="MenuNews"><a href="#">Архив новостей</a></div>
      <div><a href="MenuFiles">Архив файлов</a></div>
      <div><a href="#">Календарь событий</a></div>
    </div>
    <!-- Block head // -->
    
    <!-- Block page \\ -->
    <div>
      
      <!-- Block state bar \\ -->
      <div>
      </div>
      <!-- Block state bar // -->

      <!-- Block content \\ -->
      <div>

	<!-- Block content_left \\ -->
	<div>
	  
	</div>
	<!-- Block content_left // -->

	<!-- Block content_right \\ -->
	<div>
	</div>
	<!-- Block content_right // -->
      
      </div>
      <!-- Block content // -->

    </div>
    <!-- Block page // -->
  </body>
</html>
